<mat-card *ngIf="character" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle><button mat-raised-button type="button" (click)="addComent()">Comment</button></mat-card-subtitle>
        <img mat-card-xl-image src="{{character.photo}}" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{character.description}}
        <button mat-raised-button type="button" (click)="share()">Share</button>
    </mat-card-content>
  </mat-card>

  <mat-nav-list>
    <a mat-list-item *ngFor="let c of comments">
        {{c?.comment}}
    </a>
</mat-nav-list>