<h2>ToDo</h2>

<form [formGroup]="form" (ngSubmit)="processForm()">
    <table>
      <tr>
        <td>Description:</td>
        <td>
          <input type="text" size="30" formControlName="task">
      </tr>
      <tr>
        <td>Priority:</td>
        <td>
            <input type="radio" value="high" formControlName="priority">High
            <input type="radio" value="medium" formControlName="priority">Medium
            <input type="radio" value="low" formControlName="priority">Low
        </td>
      </tr>
        <tr>
            <td>Due:</td>
            <td>
              <input type="date" size="30" formControlName="due">
            </td>
        </tr>
        <tr>
          <td>
            <button type="submit" [disabled]="form.invalid">Add</button>
          </td>
        </tr>
    </table>

</form>
